<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Eliminar Producto</h1>
    <p>¿Estás seguro de que quieres eliminar el producto <strong>{{ producto.nombre }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
    </form>
    <a href="{% url 'productos' %}">Cancelar</a>
</body>
</html>