<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Editar Producto</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Guardar Cambios</button>
        <a href="{% url 'productos' %}">Cancelar</a>
    </form>

</body>
</html>