<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Producto</title>
    <!-- Vinculación del archivo CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Registrar Producto</h1>
    
    <!-- Formulario para registrar un producto -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Muestra el formulario como párrafos -->
        <button type="submit">Registrar Producto</button>
    </form>

    <!-- Enlace para volver a la lista de productos -->
    <a href="{% url 'productos' %}">Volver a la lista de productos</a>
</body>
</html>
